<div class="myacc-info clearfix">
    <center>
        <table>
            <tr>
                <td class="right">Mật khẩu cũ</td>
                <td><input type="password" id="oldpwd" name="oldpwd"></td>
            </tr>
            <tr>
                <td class="right">Mật khẩu mới</td>
                <td><input type="password" id="newpwd" name="newpwd"></td>
            </tr>
            <tr>
                <td class="right">Xác nhận mật khẩu mới</td>
                <td><input type="password" id="newpwd_confirm" name="newpwd_confirm"></td>
            </tr>
            <tr>
                <td class="center" colspan="2"><a href="javascript:void(-1);" onclick="chgpwd()" class="btn-link">Đổi mật khẩu</a></td>
            </tr>
        </table>
    </center>
</div>