<script type="text/javascript">
$(document).ready(function() {
    //datatables
    load_list('friend');
});
</script>
<p class="note-table sp">※ Di chuyển trái/phải để xem thêm</p>
<table id="table" class="table table-bordered table-striped">
<thead>
<tr>
<th>HỌ VÀ TÊN</th>
<th>NGÀY ĐĂNG KÝ</th>
</tr>
</thead>
<tbody>
</tbody>
</table>