<script type="text/javascript">
$(document).ready(function() {
    //datatables
    load_list('hoahong');
});
</script>
<p class="note-table sp">※ Di chuyển trái/phải để xem thêm</p>
<table id="table" class="table table-bordered table-striped">
<thead>
<tr>
<th>Ngày giao dịch</th>
<th>Người giao dịch</th>
<th>Hoa hồng</th>
<th>Số dư</th>
</tr>
</thead>
<tbody>
</tbody>
</table>