<script type="text/javascript">
$(document).ready(function() {
    //datatables
    load_list('lunch');
});
</script>
<p class="note-table sp">※ Di chuyển trái/phải để xem thêm</p>
<table id="table" class="table table-bordered table-striped">
<thead>
<tr>
<th>Ngày đặt</th>
<th>Số lượng</th>
<th>Giá tiền</th>
<th>Menu ngày</th>
<th>Trạng thái</th>
</tr>
</thead>
<tbody>
</tbody>
</table>