<script type="text/javascript">
$(document).ready(function() {
    //datatables
    load_list('wallet');
});
</script>
<p class="note-table sp">※ Di chuyển trái/phải để xem thêm</p>
<table id="table" class="table table-bordered table-striped">
<thead>
<tr>
<th>Ngày giao dịch</th>
<th>Giá trị</th>
<th>Loại giao dịch</th>
<th>Ghi chú</th>
<th>Tiền trong ví</th>
<th>Người giao dịch</th>
</tr>
</thead>
<tbody>
</tbody>
</table>