{* Extend our master template *}
{extends file="home/master.tpl"}
{block name=body}
<div id="main">
    <div class="container">
        <p class="center mb0"><img src="/assets/images/404.jpg" alt=""></p>
    </div>
</div>
{/block}