{* Extend our master template *}
{extends file="home/master.tpl"}
{block name=script}
<script type="text/javascript">
$(document).ready(function() {
    $("#menu_food").addClass("active");
});
</script>
{/block}
{block name=body}
<div id="main">
    <div class="container">
        <p class="center mb0"><img src="/assets/images/undercons.jpg" alt=""></p>
    </div>
</div>
{/block}