.sp {
	display: none;
}
.pc {
	display: block;
}

@media screen and (max-width: 768px) {
#wrapper {
	min-width: 100%;
	padding-top: 90px;
}
.container {
	padding: 0 3%;
	width: 100%;
	box-sizing: border-box;
}
.sp {
	display: block!important;
}
.pc {
	display: none!important;
}
.image-r, .image-l {
	float: none;
	text-align: center;
	margin: 0 0 10px;
}
/** start table scroll***/
.tbl-scroll, .img-scroll {
	overflow-x: scroll;
}
.tbl-scroll > table, .img-scroll img {
	min-width: 768px;
}
.tbl-scroll .spyt-list {
	min-width: 800px;
}
.tbl-scroll > table > table {
	min-width: 100%;
}
/** end table scroll***/

/* MENU-ICON */
.menu-icon {
	width: 50px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	position: absolute;
	text-transform: uppercase;
	line-height: 1em;
	right: 3%;
	top: 16px;
	cursor: pointer;
	color: #252525;
	font-size: 13px;
	background: #fff;
	padding: 17px 5px 5px;
	border-radius: 3px;
	border: 1px solid #252525;
}
.menu-icon span {
	display: block;
	margin: 0;
	width: 38px;
	height: 3px;
	background-color: #252525;
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-ms-transition-duration: 0;
	-o-transition-duration: 0;
	transition-duration: 0;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.menu-icon span::after, .menu-icon span::before {
	display: block;
	content: '';
	position: absolute;
	width: 38px;
	height: 3px;
	background-color: #252525;
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0;
	-moz-transition-delay: 0.2s, 0;
	-ms-transition-delay: 0.2s, 0;
	-o-transition-delay: 0.2s, 0;
	transition-delay: 0.2s, 0;
}
.menu-icon span::before {
	margin-top: -8px;
}
.menu-icon span::after {
	margin-top: 8px;
}
.menu-icon.active span {
	background-color: transparent;
}
.menu-icon.active span::before, .menu-icon.active span::after {
	margin-top: 0px;
	-webkit-transition-delay: 0, 0.2s;
	-moz-transition-delay: 0, 0.2s;
	-ms-transition-delay: 0, 0.2s;
	-o-transition-delay: 0, 0.2s;
	transition-delay: 0, 0.2s;
}
.menu-icon.active span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-icon.active span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#header .container {
	padding: 0;
}
.h-top {
	padding: 0 0 20px;
}
.h-top dt {
	float: none;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 15px 0 10px;
	background: #fff;
	width: 100%;
	z-index: 888;
}
.h-top dt img {
	width: 250px;
}
.h-top dd {
	float: none;
	text-align: center;
	display: block;
}
.gnavisp {
	width: 100%;
	position: fixed;
	top: 80px;
	left: 100%;
	height: calc(100% - 80px);
	background: #6ebe3b;
	z-index: 9999;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.gnavisp.fixed {
	left: 0;
}
.h-top #gnavi li {
	display: block;
	text-align: center;
	font-size: 14px;
	border-bottom: #fff 1px solid;
	margin: 0;
}
.h-top #gnavi li a {
	padding: 15px 0;
	display: block;
	color: #fff;
}
.sub-menu-cnt li {
	border-bottom: #fff 1px solid;
	width: 50%;
	float: left;
}
.sub-menu-cnt li a {
	color: #fff;
	padding: 15px 5px;
	text-decoration: none;
	display: block;
}
.sub-menu-cnt li:first-child {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.sub-menu-cnt li:first-child span:first-child {
	padding: 0 20px 0 0;
}
.sub-menu-cnt li:nth-child(2), .sub-menu-cnt li:nth-child(4) {
	border-right: #fff 1px solid;
	width: calc(50% - 2px);
}
.slick-slider {
	height: 250px;
}
.slick-slider img {
	height: 250px;
}
#index #mainvisual .container p:first-child {
	font-size: 60px;
	line-height: 75px;
}
#index #mainvisual .container p:last-child {
	letter-spacing: 3px;
	margin-bottom: -3px;
	font-size: 40px;
}
#index #mainvisual {
	margin-bottom: 30px;
}
.menu-day {
	margin-bottom: 10px;
}
.menu-day li {
	margin: 0 0 15px;
	width: 19%;
}
.menu-list .menu-list-content a {
	padding: 20px 15px 20px;
}
.menu-list .menu-list-content a:before {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	left: 4px;
	top: 4px;
}
.menu-list .menu-list-content p:first-child {
	font-size: 14px;
	margin-bottom: 15px;
}
#index .box01 {
	background: #e9eef1;
	padding: 40px 0 30px;
}
#index .box01 .image-r {
	margin-bottom: 40px;
}
#index .box02 {
	padding: 30px 0 35px;
}
#footer > .container {
	padding: 30px 0 30px;
}
#footer > .container .f-l {
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#footer > .container .f-l ul li {
	background: #ebf4e6!important;
	padding-left: 0;
}
#footer > .container .f-r {
	float: none;
	width: 100%;
	text-align: left;
	padding: 0 3%;
	box-sizing: border-box;
}
#footer > .container .f-r dl {
	margin-right: 0;
	width: 30%;
}
#footer > .container .f-r dl dt {
	margin-bottom: 20px;
}
#footer .f-b {
	padding: 5px 0 10px;
}
#footer .f-b .copyright {
	float: none;
	text-align: center;
}
#totop {
	bottom: 43px;
	right: 30px;
}
#totop img {
	width: 40px;
}
.under #mainvisual h2 {
	height: 150px;
}
.gioithieu-box01 > p:first-child {
	float: none;
	text-align: center;
	margin: 0 0 30px 0;
}
.gioithieu-box01 > p:first-child img {
	width: 50%;
}
.gioithieu-box01 h3 {
	font-size: 30px;
	margin-left: 0;
}
.gioithieu-box01 > div {
	margin-left: 0;
	padding: 20px;
}
.gioithieu #main {
	background: #fff;
}
.content-left {
	float: none;
	width: 100%;
}
.content-left .introduce > p {
	float: none;
	text-align: center;
	margin: 0 0 30px;
}
.content-left .introduce > p img {
	width: 50%;
}
.content-left .introduce > div {
	float: none;
	margin-left: 0;
	width: 100%;
}
.under.order #mainvisual h2 {
	height: auto;
}
.register-cnt > li:last-child {
	width: 70%;
}
.login-panel {
	right: -142px;
}
.lienhe .gMap {
	height: 150px;
}
.lh-contact {
	margin-bottom: 10px;
}
.lh-contact li {
	width: 48%;
	margin-bottom: 20px;
}
.lh-contact li:nth-child(2) {
	margin-right: 0;
}
.lh-contact li dl dt {
	width: 20%;
	padding-right: 10px;
	vertical-align: top;
}
.lh-contact li dl dt img {
	vertical-align: top;
}
.lh-contact li:nth-child(2) span {
	font-size: 20px;
}
.payment-cnt {
	margin-right: 0;
}
.payment-danhmuc {
	float: none;
	width: 100%;
	margin-bottom: 30px;
}
.payment-cnt-l, .payment-cnt-r, .myacc-cnt {
	float: none;
	width: 100%;
}
.myacc-info {
	padding: 20px 15px 10px;
	box-sizing: border-box;
}
.myacc-navi {
	float: none;
	text-align: center;
	border: none;
	width: 100%;
}
.myacc-navi li {
	display: inline-block;
	border: #d5d5d5 1px solid;
	margin: 0 10px 20px;
	width: 200px;
}
.myacc-navi li:last-child {
	border-bottom: #d5d5d5 1px solid;
}
.myacc-cnt {
}
.myacc-avatar {
	text-align: center;
}
.acc-info {
	float: none;
	width: 100%;
}
.myacc-cnt.reverse-col {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-direction: column-reverse; /* Safari 6.1+ */
	flex-direction: column-reverse;
}
.reload-btn {
	float: none;
	text-align: center;
}
.friend-list {
	padding: 0 15px 20px;
}
}

@media screen and (max-width: 640px) {
.menu-day li {
	width: 32%;
}
.menu-day li:nth-child(4), .menu-day li:nth-child(5) {
	width: 40%;
}
.menu-list {
	margin-bottom: 40px;
}
#index .box02 .container > p:nth-child(2) {
	font-size: 25px;
	padding-bottom: 6px;
	margin-bottom: 20px;
}
.coupon {
	width: 150px;
}
.lh-form {
	width: 90%;
}
}

@media screen and (max-width: 425px) {
#index #mainvisual .container p:first-child {
	font-size: 50px;
	line-height: 70px;
}
#index #mainvisual .container p:last-child {
	letter-spacing: 0px;
	margin-bottom: -6px;
	font-size: 28px;
}
.menu {
	font-size: 30px;
	margin-bottom: 10px;
}
.menu-choice li:first-child {
	border-right: none;
}
.menu-list li {
	width: 50%;
}
#index .box02 .container ul li {
	width: 40%;
	font-size: 15px;
	margin: 0 10px;
}
.content-left-count > li {
	display: inline-block;
}
.content-left-count > li:nth-child(3) {
	padding-left: 0;
	display: block;
	margin-top: 15px;
}
.content-left-count > li:nth-child(3):before {
	display: none;
}
.content-left .note > ul {
	padding-bottom: 14px;
}
.content-left .note > ul li a {
	font-size: 17px;
}
.content-left .note > ul li {
	margin-right: 20px;
}
.content-left .note > ul li:nth-child(2) {
	margin-right: 0;
}
.register-cnt > li, .register-cnt > li:last-child, .myacc-show li {
	width: 100%;
}
.lh-contact li {
	width: 98%;
}
.acc-info li span {
	display: block;
}
.acc-info li span:first-child {
	width: 100%;
}
.dataTables_filter input {
	width: 80%;
	margin-bottom: 10px;
}
}

@media screen and (max-width: 375px) {
.lh-form {
	width: 100%;
}
}

@media screen and (max-width: 320px) {
.h-top dt {
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.h-top dt img {
	width: 200px;
}
.gnavisp {
	top: 73px;
	height: calc(100% - 73px);
}
.menu {
	font-size: 25px;
}
#footer > .container .f-r dl {
	width: 32%;
}
#footer > .container .f-r dl dt {
	font-size: 16px;
}
.content-left-order li:last-child a {
	padding: 0 5px;
}
.myacc-ttl li {
	padding: 12px 15px 10px 20px;
}
}
