@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import "latofonts.css";
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 140%;
	-webkit-text-size-adjust: none;
}
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
a {
	color: #6ebe3b;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
}
a:hover, a:active {
	color: #6ebe3b;
	text-decoration: underline;
}
p {
	margin: 0 0 1.5em;
}
.bold {
	font-weight: bold;
}
table {
	width: 100%
}
.tbl th, .tbl td {
	background: #f4f4f4;
	border: #d5d5d5 1px solid;
	padding: 10px;
}
.tbl th {
	background: #cce8bb;
	font-family: 'LatoWebHeavy';
	color: #000;
}
.section {
	margin: 0 0 30px;
}
.section .section {
	margin: 0 0 20px;
}
p, dd, td, th, li {
	line-height: 1.8em;
}
.image-l {
	float: left;
	margin: 0 16px 8px 0;
}
.image-r {
	float: right;
	margin: 0 0 8px 16px;
}
img {
	max-width: 100%;
}
html {
	background: none;
}
body {
	color: #000;
	font-family: 'LatoWeb', sans-serif;
}
#wrapper {
	min-width: 1170px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.container {
	width: 1155px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
.topic-path {
	padding: 0 0 20px;
}
.topic-path li {
	display: inline-block;
	font-size: 14px;
	color: #6ebe3b;
	font-family: 'LatoWebHeavy';
}
.topic-path li a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-family: 'LatoWebMedium';
}
.topic-path li:after {
	content: '>';
	margin-right: 5px;
	padding-left: 10px;
	font-size: 12px;
}
.topic-path li:last-child:after {
	content: '';
}
.topic-path li a:hover {
	text-decoration: underline;
}
.w33 {
	width: 33%;
}
#totop {
	bottom: 65px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: fixed;
	right: 50px;
	text-decoration: none;
	margin: 0;
	z-index: 999;
}
#totop:hover {
	opacity: 0.7;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/**************Header************/
.h-top {
	padding: 25px 0 30px;
}
.h-top dt {
	float: left;
}
.h-top dd {
	float: right;
	text-align: right;
}
.h-top dd .pc, .h-top dd .pc li, .h-top dd .login, .h-top dd .login li, #gnavi li {
	display: inline-block;
	margin: 0;
	font-size: 0;
}
.h-top ul.pc {
	margin-bottom: 25px;
}
.h-top ul.pc li {
	margin: 0 10px;
	font-size: 14px;
}
.h-top ul.login li a {
	padding: 10px;
	border: #000 1px solid;
	color: #000;
	text-decoration: none;
	font-size: 14px;
}
.h-top ul.login li a:hover {
	color: #3d9143;
}
.h-top ul.login li:first-child a {
	border-right: none;
}
.h-top #gnavi li {
	margin: 0 20px;
}
.h-top #gnavi li:last-child {
	margin-right: 0;
}
.h-top #gnavi li a {
	font-size: 20px;
	color: #000;
	text-decoration: none;
	position: relative;
	padding-bottom: 12px;
}
.h-top #gnavi li a:hover, .h-top #gnavi li a.active {
	color: #5eaa2e;
}
.h-top #gnavi li a.active {
	font-family: 'LatoWebHeavy';
}
.h-top #gnavi li a:hover:after, .h-top #gnavi li a.active:after {
	position: absolute;
	width: 50px;
	height: 2px;
	background: #5eaa2e;
	content: '';
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.sub-menu {
	background: #5eaa2e url(../images/submenu_bg.jpg) center center no-repeat;
}
.sub-menu .container {
	display: table;
	position: relative;
}
.sub-menu .container li {
	display: table-cell;
	width: 180px;
	border-right: #3d9143 1px solid;
	vertical-align: middle;
}
.sub-menu .container li:first-child {
	width: 430px;
}
.sub-menu li a {
	color: #33571c;
	font-size: 16px;
	text-decoration: none;
	display: block;
	height: 65px;
	text-align: right;
	padding: 22px 30px 0 0;
	box-sizing: border-box;
	font-weight: bold;
	background: url(../images/ico_monchinh.png) left 25px center no-repeat;
}
.sub-menu li:nth-child(3) a {
	background: url(../images/ico_monphu.png) left 25px center no-repeat;
}
.sub-menu li:nth-child(4) a {
	background: url(../images/ico_monthem.png) left 25px center no-repeat;
}
.sub-menu li:nth-child(5) a {
	background: url(../images/ico_trangmieng.png) left 25px center no-repeat;
}
.sub-menu li:first-child span, .sub-menu li:first-child input {
	display: inline-block;
}
.sub-menu-cnt li:first-child span:first-child {
	padding: 0 20px;
	font-size: 18px;
	font-family: 'LatoWebHeavy';
	color: #fff;
}
.sub-menu-cnt li:first-child input {
	width: 245px;
	height: 35px;
	background: #fff url(../images/ico_z.png) right 10px center no-repeat;
	padding: 0 30px 0 15px;
	box-sizing: border-box;
}
.sub-menu li:first-child span:last-child {
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 0;
	margin-left: 35px;
}
.sub-menu li:first-child span:last-child:after {
	position: absolute;
	width: 35px;
	height: 35px;
	background: #000;
	content: '';
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
#index #mainvisual {
	position: relative;
	margin-bottom: 40px
}
#index #mainvisual .container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	text-align: center;
}
#index #mainvisual .container p:first-child {
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    margin-bottom: 0;
    font-size: 80px;
    color: #fff;
    font-family: 'LatoWebHeavy';
    line-height: 100px;
}
#index #mainvisual .container p:last-child {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 0;
	margin-bottom: 0;
	font-size: 50px;
	color: #fff;
	font-family: 'LatoWebHeavy';
	letter-spacing: 38px;
}
.menu {
	font-family: 'LatoWebHeavy';
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}
.menu-choice {
	text-align: center;
	margin-bottom: 20px;
}
.menu-choice li {
	display: inline-block;
	padding: 0 20px;
        border-right: #000 2px solid;
}
.menu-choice li:last-child {
	border-right: 0px;
}
.menu-choice li a {
	font-family: 'LatoWebHeavy';
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.menu-choice li a:hover, .menu-choice li a.active {
	color: #3d8f09;
}
.menu-day {
	text-align: center;
	margin-bottom: 30px;
}
.menu-day li {
	display: inline-block;
	margin: 0 27px;
}
.menu-day li a {
	font-size: 20px;
	color: #000;
	text-decoration: none;
	position: relative;
	padding-bottom: 12px;
	font-family: 'LatoWebHeavy';
}
.menu-day li a:hover, .menu-day li a.active {
	color: #5eaa2e;
}
.menu-day li a:hover:after, .menu-day li a.active:after {
	position: absolute;
	width: 50px;
	height: 2px;
	background: #5eaa2e;
	content: '';
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.menu-list {
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 60px;
}
.menu-list li {
	width: 25%;
}
.menu-list li.menu-list-img {
	background: #e9eef1;
	overflow: hidden;
        line-height: 0;
}
.menu-list li.menu-list-img img {
	position: relative;
	max-width: 285px;
	max-height: 260px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.menu-list .menu-list-content a {
	display: block;
	border: #6ebe3b 1px solid;
	padding: 30px 15px 20px;
	position: relative;
	z-index: 0;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
	color: #000;
	text-decoration: none;
}
.menu-list .menu-list-content a:before {
	position: absolute;
	border: #6ebe3b 1px solid;
	width: calc(100% - 18px);
	height: calc(100% - 18px);
	left: 8px;
	top: 8px;
	content: '';
}
.menu-list .menu-list-content p:first-child {
	font-family: 'LatoWebHeavy';
	font-size: 16px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	position: relative;
}
.menu-list .menu-list-content p:first-child:after {
	position: absolute;
	width: 50px;
	height: 2px;
	background: #5eaa2e;
	content: '';
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.menu-list .menu-list-content p:nth-child(2) {
	margin-bottom: 1px;
}
.menu-list .menu-list-content p:nth-child(3) {
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	margin-bottom: 10px;
}
.menu-list .menu-list-content span {
	border: #000 1px solid;
	padding: 7px 15px 8px;
	color: #3d9143;
	font-family: 'LatoWebHeavy';
	font-size: 16px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.menu-list .menu-list-content a:hover span {
	border: #3d9143 1px solid;
	background: #3d9143;
	color: #fff;
}
#index .box01 {
	background: #e9eef1 url(../images/idx_img02.jpg) right bottom no-repeat;
	padding: 60px 0 70px;
}
#index .box01 .container p:nth-child(2) {
	color: #3d8f09;
	font-size: 24px;
	margin-bottom: 0;
	font-family: 'LatoWebBoldItalic';
	display: table;
	position: relative;
}
#index .box01 .container p:nth-child(2):after {
	position: absolute;
    background: url(../images/ico_ship.png);
    width: 93px;
    height: 56px;
    content: '';
    right: -100px;
    top: -14px;
}
#index .box01 .container p:nth-child(3) {
	font-size: 30px;
	font-family: 'LatoWebHeavy';
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
	line-height: 40px;
}
#index .box01 .container p:nth-child(3):after {
	position: absolute;
    width: 30px;
    height: 3px;
    background: #5eaa2e;
    content: '';
    bottom: 0;
    left: 0;
}
#index .box01 .container p:nth-child(4) {
	color: #3d8f09;
	font-size: 21px;
	font-family: 'LatoWebHeavy';
	margin-bottom: 10px;
}
#index .box01 .container p:nth-child(4) span {
	color: #000;
}
#index .box01 .container > span a {
	display: table;
	padding: 10px 20px 11px;
	background: #3d8f09;
	border: #3d8f09 1px solid;
	color: #fff;
	font-family: 'LatoWebHeavy';
	font-size: 16px;
	text-decoration: none;
}
#index .box01 .container > span a:hover {
	border: #000 1px solid;
	background: #fff;
	color: #3d8f09;
}
#index .box02 {
	padding: 50px 0 45px;
}
#index .box02 .container {
	text-align: center;
}
#index .box02 p {
	font-family: 'LatoWebHeavy';
}
#index .box02 .container > p:first-child {
	font-size: 24px;
	margin-bottom: 0;
}
#index .box02 .container > p:nth-child(2) {
	font-size: 36px;
	padding-bottom: 12px;
	margin-bottom: 10px;
	position: relative;
}
#index .box02 .container > p:nth-child(2):after {
	position: absolute;
    width: 30px;
    height: 3px;
    background: #5eaa2e;
    content: '';
    bottom: 0;
    left: 50%;
	margin-left: -15px;
}
#index .box02 .container ul {
	text-align: center;
	margin-bottom: 20px;
}
#index .box02 .container ul li {
	display: inline-block;
	margin: 0 20px;
	width: 25%;
	font-size: 18px;
	vertical-align: top;
}
#index .box02 .container ul li p:first-child {
	margin-bottom: 0;
}
#index .box02 .container > span a {
	display: table;
	margin: 0 auto;
	padding: 10px 20px 11px;
	color: #3d8f09;
	text-decoration: none;
	font-size: 16px;
	border: #3d8f09 1px solid;
	font-family: 'LatoWebHeavy';
}
#index .box02 .container > span a:hover {
	border: #3d8f09 1px solid;
	background: #3d8f09;
	color: #fff;
}



/**************Index************/

/**************Footer************/
#footer {
	background: #ebf4e6;
}
#footer > .container {
	padding: 50px 0 30px;
}
#footer > .container .f-l {
	float: left;
	width: 290px;
}
#footer > .container .f-l > p {
	margin-bottom: 20px;
}
#footer > .container .f-l ul li {
	padding-left: 33px;
	background: url(../images/ico_home.png) left -1px no-repeat;
	margin-bottom: 5px;
}
#footer > .container .f-l ul li:nth-child(2) {
	background: url(../images/ico_tel.png) left 0 no-repeat;
}
#footer > .container .f-l ul li:nth-child(3) {
	background: url(../images/ico_contact.png) left 4px no-repeat;
}
#footer > .container .f-r {
	float: right;
	width: 830px;
	text-align: right;
}
#footer > .container .f-r dl {
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;
	text-align: left;
}
#footer > .container .f-r dl:last-child {
	margin-right: 0;
}
#footer > .container .f-r dl dt {
	font-family: 'LatoWebHeavy';
	font-size: 18px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
#footer > .container .f-r dl dd {
	margin-bottom: 10px;
}
#footer > .container .f-r dl dd a {
	color: #000;
	text-decoration: none;
	font-size: 15px;
}
#footer > .container .f-r dl dd a:hover {
	color: #3d8f09;
	text-decoration: underline;
}
#footer > .container .f-r dl dd input {
	width: 360px;
	height: 50px;
	border-radius: 30px;
	border: #d9d9d9 2px solid;
	padding: 0 60px 0 20px;
	box-sizing: border-box;
	background: #ebf4e6 url(../images/ico_contact2.png) right 5px center no-repeat;
}
#footer .f-b {
	background: #222;
	padding: 15px 0;
}
#footer .f-b .copyright {
	font-size: 15px;
	color: #fff;
	float: left;
	margin-bottom: 0;
	margin-top: 10px;
}
#footer .f-b ul {
	float: right;
}
#footer .f-b ul li {
	display: inline-block;
	margin-left: 20px;
	line-height: 0;
}

/**************Under************/
.under #mainvisual {
	margin-bottom: 25px;
}
.under #main {
	padding-bottom: 80px;
}
.note-table {
	font-size: 12px;
	color: #6ebe3b;
	margin-bottom: 10px;
}
.under h3 {
	font-size: 36px;
	font-family: 'LatoWebHeavy';
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
}
.under h3:after {
	position: absolute;
	width: 65px;
	height: 2px;
	content: '';
	left: 0;
	bottom: 0;
	background: #94c347;	
}
.under #mainvisual h2 {
	background: url(../images/gioithieu_h2.jpg) bottom center no-repeat;
	height: 300px;
	background-size: cover;
}
.gioithieu #main {
	background: url(../images/gioithieu_img01.png) right bottom no-repeat;
}
.gioithieu-box01 > p:first-child {
	float: left;
	margin: 0 50px 30px 0;
}
.gioithieu-box01 h3 {
	margin-left: 577px;
}
.gioithieu-box01 > div {
	margin-left: 577px;
	border: #ccc 1px dotted;
	padding: 20px;
}
.gioithieu-box01 > div p {
	-webkit-text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, -2px 2px 2px #fff;
}
.h-top ul.login.account li a {
	border: none;
	padding: 9px 10px 5px 25px;
	background: url(../images/ico_tk.png) left center no-repeat;
}
.h-top ul.login.account li:nth-child(2) a {
	background: url(../images/ico_cart.png) left center no-repeat;
}
.h-top ul.login.account li:nth-child(3) a {
	background: url(../images/ico_heart.png) left center no-repeat;
}
.order #mainvisual {
	background: #efecd9;
	text-align: center;
	border-bottom: #6ebe3b 1px solid;
}
.order #mainvisual h2 {
	line-height: 0;
}
.content-left {
	float: left;
	width: 865px;
}
.content-left .introduce {
	margin-bottom: 40px;
}
.content-left .introduce > p {
	float: left;
	margin: 0 20px 30px 0;
}
.content-left .introduce > p img {
	border: #6ebe3b 1px solid;
}
.content-left .introduce .content-left-mainimg {
    float: left;
    margin: 0 20px 30px 0;
    position: relative;
    width: 390px;
    height: 356px;
    text-align: center;
    border: #6ebe3b 1px solid;
    font-size: 0;
    background: #f4f4f4;
}
.content-left .introduce .content-left-mainimg > img {
    position: relative;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.order h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.content-left-price, .content-left-count, .content-left-date, .content-left-order {
	display: table;
}
.content-left-price li, .content-left-count > li, .content-left-date li, .content-left-order li {
	display: table-cell;
}
.content-left-price {
	margin-bottom: 20px;
}
.content-left-price li:first-child {
	padding-right: 17px;
	border-right: #7dc642 1px solid;
	font-size: 16px;
	font-family: 'LatoWebHeavy';
}
.content-left-price li:first-child span {
	color: #7dc642;
}
.content-left-price li:last-child {
	padding-left: 40px;
	background: url(../images/ico_heart1.png) 17px center no-repeat;
}
.content-left-price li:last-child a {
	color: #000;
	text-decoration: none;
}
.content-left-price li:last-child a:hover {
	text-decoration: underline;
}
.content-left-count {
	margin-bottom: 15px;
}
.content-left-count > li:first-child {
	width: 110px;
	font-family: 'LatoWebHeavy';
}
.content-left-count > li:nth-child(2) {
	padding: 5px 15px;
	border: #81c755 1px solid;
}
.content-left-count > li:nth-child(2) ul li {
	display: inline-block;
	margin-right: 20px;
	color: #999;
}
.content-left-count > li:nth-child(2) ul li:nth-child(2) {
	margin-right: 7px;
}
.content-left-count > li:nth-child(2) ul li:nth-child(3) {
	margin-right: 0;
}
.content-left-count > li:nth-child(2) ul li a {
	text-decoration: none;
	width: 20px;
	height: 20px;
	background: #ededed;
	border-radius: 50%;
	display: block;
	text-align: center;
	font-family: 'LatoWebHeavy';
	color: #000;
	font-size: 16px;
	line-height: 1.3;
}
.content-left-count > li:nth-child(3) {
	padding-left: 40px;
	position: relative;
}
.content-left-count > li:nth-child(3) span {
	color: #6ebe3b;
	font-family: 'LatoWebHeavy';
}
.content-left-count > li:nth-child(3):before {
	position: absolute;
	width: 1px;
	height: 25px;
	background: #7dc642;
	content: '';
	left: 20px;
	top: 50%;
	margin-top: -13px;
}
.content-left-date {
	margin-bottom: 45px;
}
.content-left-date > li:first-child {
	width: 110px;
	font-family: 'LatoWebHeavy';
}
.content-left-order {
	width: 100%;
}
.content-left-order li:first-child a {
	background: #6ebe3b url(../images/ico_cart1.png) 30px center no-repeat;
	padding: 15px 35px 11px 60px;
	font-size: 15px;
	text-decoration: none;
	font-family: 'LatoWebHeavy';
	color: #fff;
}
.content-left-order li:first-child a:hover {
	opacity: .7;
}
.content-left-order li:last-child {
	text-align: right;
}
.content-left-order li:last-child a {
	padding: 0 10px;
}
.content-left .note > ul {
	border-bottom: #6ebe3b 1px solid;
	padding-bottom: 15px;
}
.content-left .note > ul li {
	display: inline-block;
	font-size: 0;
	margin-right: 30px;
}
.content-left .note > ul li a {
	font-size: 20px;
	color: #000;
	font-family: 'LatoWebHeavy';
	text-decoration: none;
	position: relative;
	padding-bottom: 15px;
}
.content-left .note > ul li a:hover, .content-left .note > ul li a.active {
	color: #6ebe3b;
}
.content-left .note > ul li a:hover:after, .content-left .note > ul li a.active:after {
	position: absolute;
	width: 110px;
	height: 3px;
	background: #6ebe3b;
	bottom: 0;
	left: 50%;
	margin-left: -55px;
	content: '';
}
.content-right {
	float: right;
	width: 260px;
}
.content-right ul:first-child {
	margin-bottom: 40px;
	background: #6ebe3b;
	padding: 10px;
}
.content-right ul:first-child li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	padding: 15px 0 15px 18px;
	border: #64ad36 1px solid;
	border-bottom: none;
	background: url(../images/ico_type1.png) right 15px center no-repeat;
}
.content-right ul:first-child li:last-child a {
	border-bottom: #64ad36 1px solid;
}
.content-right ul:first-child li:nth-child(2) a {
	background: url(../images/ico_type2.png) right 15px center no-repeat;	
}
.content-right ul:first-child li:nth-child(3) a {
	background: url(../images/ico_type3.png) right 15px center no-repeat;	
}
.content-right ul:first-child li:nth-child(4) a {
	background: url(../images/ico_type4.png) right 15px center no-repeat;	
}
.content-right ul:first-child li:nth-child(5) a {
	background: url(../images/ico_type5.png) right 15px center no-repeat;	
}
.content-right ul:first-child li a:hover {
	background: #fff url(../images/ico_type1.png) right 15px center no-repeat;
	color: #6ebe3b;
}
.content-right ul:first-child li:nth-child(2) a:hover {
	background: #fff url(../images/ico_type2.png) right 15px center no-repeat;
	color: #6ebe3b;
}
.content-right ul:first-child li:nth-child(3) a:hover {
	background: #fff url(../images/ico_type3.png) right 15px center no-repeat;
	color: #6ebe3b;
}
.content-right ul:first-child li:nth-child(4) a:hover {
	background: #fff url(../images/ico_type4.png) right 15px center no-repeat;
	color: #6ebe3b;
}
.content-right ul:first-child li:nth-child(5) a:hover {
	background: #fff url(../images/ico_type5.png) right 15px center no-repeat;
	color: #6ebe3b;
}
.content-right ul:last-child li:first-child {
	margin-bottom: 30px;
}
.checkout table th, .checkout table td {
	border: none;
}
.checkout table tr {
	border-bottom: 1px solid #7dc642;
}
.checkout table tr:first-child {
	border-bottom: none;
}
table.checkout-cnt tr td:first-child span {
	display: table-cell;
	vertical-align: middle;
	font-family: 'LatoWebHeavy';
	text-align: left;
}
table.checkout-cnt tr td:first-child span:first-child {
	padding-right: 10px;
}
table.checkout-cnt tr td:nth-child(3), table.checkout-cnt tr td:nth-child(4), table.checkout-cnt tr td:nth-child(5) {
	font-family: 'LatoWebHeavy';
}
table.checkout-cnt tr td:nth-child(4) ul {
	border: #ccc 1px solid;
	border-radius: 5px;
	display: table;
	margin: 0 auto;
}
table.checkout-cnt tr td:nth-child(4) ul li {
	display: table-cell;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	border-right: #ccc 1px solid;
}
table.checkout-cnt tr td:nth-child(4) ul li:last-child {
	border-right: none;
}
table.checkout-cnt tr td:nth-child(4) ul li a {
	display: block;
	height: 100%;
	text-decoration: none;
	position: relative;
}
table.checkout-cnt tr td:nth-child(4) ul li a:after {
	position: absolute;
	border-top: #000 2px solid;
	border-left: #000 2px solid;
	width: 5px;
	height: 5px;
	content: '';
	left: 50%;
	top: 50%;
	transform: rotate(-45deg);
	margin: -4px 0 0 -3px;
}
table.checkout-cnt tr td:nth-child(4) ul li a:hover:after {
	border-top: #6ebe3b 2px solid;
	border-left: #6ebe3b 2px solid;
}
table.checkout-cnt tr td:nth-child(4) ul li:last-child a:after {
	transform: rotate(135deg);
}
.btn-link {
	display: inline-block;
	font-size: 16px;
	background: #6ebe3b;
	color: #fff;
	text-decoration: none;
	padding: 9px 25px 7px;
}
.btn-link:hover {
	opacity: .8;
	color: #fff;
}
.total {
	text-align: left;
}
.total p {
	float: right;
	color: #999;
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	margin: 7px 0 0;
}
.total p span {
	display: inline-block!important;
	vertical-align: top!important;
}
.total p span:first-child {
	margin-top: 2px;
}
.total p span:last-child {
	font-size: 24px;
	color: #7dc642;
}
.total ul li {
	display: inline-block;
}
.total ul li:first-child {
	margin-right: 20px;
}
.total ul li:last-child {
	background: url(../images/ico_cancel.png) left center no-repeat;
	padding-left: 20px;
}
.coupon {
	width: 300px;
	height: 39px;
	border: #7dc642 1px solid;
	padding-left: 10px;
	float: left;
}
.payment {
	padding-bottom: 50px;
	margin-bottom: 25px;
	border-bottom: #7dc642 1px solid;
}
.payment-danhmuc {
	float: right;
	width: 340px;
	border: #7dc642 1px solid;
	border-radius: 5px;
}
.payment-danhmuc dt {
	background: #7dc642;
	color: #fff;
	text-align: center;
	padding: 12px 0 10px;
	font-family: 'LatoWebHeavy';
	font-size: 16px;
}
.payment-danhmuc dd {
	padding: 0 15px;
}
.payment-danhmuc dd ul {
	border-bottom: #7dc642 1px solid;
	display: table;
	width: 100%;
	padding: 20px 0 15px;
}
.payment-danhmuc dd:last-child ul {
	border-bottom: none;
}
.payment-danhmuc dd ul li {
	display: table-cell;
	vertical-align: middle;
	font-family: 'LatoWebHeavy';
}
.payment-danhmuc dd ul li:first-child {
	width: 85px;
}
.payment-danhmuc dd ul li:first-child img {
	max-height: 73px;
	max-width: 68px;
}
.payment-danhmuc dd ul li:last-child {
	text-align: right;
	width: 35px;
}
.payment-cnt {
	margin-right: 375px;
}
.payment-cnt > p {
	color: #7dc642;
	font-size: 24px;
	margin-bottom: 15px;
}
.payment-cnt p, .payment-total li {
	font-family: 'LatoWebHeavy';
}
.payment-cnt input, .payment-cnt textarea, .payment-cnt select {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
}
.payment-cnt-l {
	float: left;
	width: 360px;
}
.payment-cnt-r {
	float: right;
	width: 375px;
}
.payment-cnt-r .date-time {
	margin-bottom: 50px;
}
.payment-cnt-r .date-time li {
	float: left;
	width: 45%;
}
.payment-cnt-r .date-time li:last-child {
	float: right;
}
.payment-total li {
	font-size: 16px;
	float: left;
	width: 50%;
	margin-bottom: 15px;
}
.payment-total li:nth-child(even) {
	text-align: right;
}
.payment-total li:nth-child(5), .payment-total li:nth-child(6) {
	padding-bottom: 15px;
	border-bottom: #7dc642 1px solid;
}
.payment-total li:last-child {
	font-size: 24px;
	color: #7dc642;
}
.payment-total li:nth-child(7) {
	padding-top: 10px;
}
.register-ttl {
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	padding-top: 25px;
	border-top: #e5e5e5 1px solid;
}
.register-cnt, .myacc-show {
	margin-bottom: 40px;
}
.register-cnt > li, .register-cnt > li > ul > li, .myacc-show li {
	float: left;
	width: 49%;
	margin-bottom: 10px;
}
.register-cnt > li:nth-child(even), .register-cnt > li > ul > li:nth-child(2), .myacc-show li:nth-child(even) {
	float: right;
}
.register-cnt > li > p, .register-cnt > li > ul > li > p, .myacc-show li p {
	margin-bottom: 5px;
}
.register-cnt input, .myacc-show input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.login-btn {
	position: relative;
}
.login-panel {
	border: #d5d5d5 1px solid;
	padding: 15px 10px;
	box-sizing: border-box;
	background: #fff;
	z-index: 10;
	position: absolute;
	width: 300px;
	right: -73px;
	top: 18px;
	text-align: left;
	display: none;
}
.login-panel p:nth-child(1) {
	text-align: center;
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	margin-bottom: 10px;
}
.login-panel p:nth-child(2), .login-panel p:nth-child(4), .login-panel p:nth-child(3), .login-panel p:nth-child(5) {
	margin-bottom: 5px;
	font-size: 14px;
}
.login-panel p input {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}
.login-panel p:nth-child(6) {
	font-family: 'LatoWebBoldItalic';
	margin-bottom: 20px;
	font-size: 14px;
}
.h-top .login-panel p:nth-child(6) a {
	border: none;
	color: #6ebe3b;
}
.h-top .login-panel p:nth-child(7) a {
	border: none;
	padding: 15px 20px 13px;
	color: #fff;
}
.h-top .login-panel p:nth-child(7) a:hover {
	color: #fff;
}
/*
.lienhe #main {
	background: url(../images/lienhe_img01.jpg) right bottom no-repeat;
}
*/
.lienhe .gMap {
	width: 100%;
	height: 300px;
}
.lh-contact {
	text-align: center;
	margin-bottom: 30px;
}
.lh-contact li {
	display: inline-block;
	width: 31%;
	margin-right: 2%;
	vertical-align: top;
}
.lh-contact li:last-child {
	margin-right: 0;
}
.lh-contact li dl {
	display: table;
	width: 100%;
}
.lh-contact li dl dt, .lh-contact li dl dd {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.lh-contact li dl dt {
	width: 30%;
}
.lh-contact li:nth-child(2) {
	line-height: 30px;
}
.lh-contact li:nth-child(2) span {
	font-size: 30px;
	color: #6ebe3b;
	display: block;
}
.lh-ttl {
	font-size: 18px;
	color: #6ebe3b;
	font-family: 'LatoWebHeavy';
	text-align: center;
	margin-bottom: 10px;
}
.lh-ttl2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.lh-form {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.lh-form li {
	float: left;
	width: 48%;
	margin-bottom: 30px;
}
.lh-form li:nth-child(even) {
	float: right;
}
.lh-form li input[type="text"], .lh-form li textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.lh-form li textarea {
	height: 150px;
}
.lh-form li:nth-child(5) {
	width: 100%;
}
.myacc-box {
	border: #d5d5d5 1px solid;
	margin-top: 35px;
	position: relative;
}
.myacc-box:before {
	position: absolute;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
	content: '';
	left: 0;
	top: -35px;
}
.myacc-ttl {
	background: #6ebe3b;
	display: table;
	width: 100%;
}
.myacc-ttl li {
	display: table-cell;
	vertical-align: middle;
	padding: 12px 15px 10px 25px;
	font-size: 16px;
	font-family: 'LatoWebHeavy';
	color: #fff;
}
.myacc-ttl li:nth-child(2) {
	text-align: right;
	font-size: 14px;
	font-family: 'LatoWeb';
}
.myacc-ttl li a {
	padding: 5px 0 3px 30px;
	background: url(../images/ico_edit.png) left center no-repeat;
	color: #fff;
}
.myacc-info {
	padding: 25px 25px 20px;
	box-sizing: border-box;
}
.myacc-navi {
	float: left;
	width: 240px;
	border: #d5d5d5 1px solid;
}
.myacc-navi li {
	border-bottom: #d5d5d5 1px solid;
}
.myacc-navi li:last-child {
	border-bottom: none;
}
.myacc-navi li a {
	display: block;
	padding: 12px 10px 8px 13px;
	box-sizing: border-box;
	border-left: #fff 7px solid;
	text-decoration: none;
	color: #000;
	font-family: 'LatoWebHeavy';
}
.myacc-navi li a.active, .myacc-navi li a:hover {
	background: #6ebe3b;
	border-left: #428c2e 7px solid;
	color: #fff;
}
.myacc-cnt {
	float: right;
	width: 830px;
}
.myacc-avatar img {
	max-height: 178px;
	max-width: 178px;
	border: #d7d7d7 1px solid;
}
.myacc-avatar a {
	display: inline-block;
	width: 180px;
	text-decoration: none;
	margin-top: 10px;
	background: #959595;
	color: #fff;
	padding: 10px 0 8px;
	text-align: center;
	font-family: 'LatoWebHeavy';
	font-size: 16px;
}
.myacc-avatar a:hover {
	opacity: .8;
}
.myacc-show {
	margin-bottom: 25px;
}
.acc-info {
	float: right;
	width: 600px;
}
.acc-info dt {
	font-size: 18px;
	font-family: 'LatoWebHeavy';
	margin-bottom: 15px;
}
.acc-info li {
	display: table;
	margin-bottom: 15px;
}
.acc-info li span {
	display: table-cell;
}
.acc-info li span:first-child {
	width: 140px;
	font-family: 'LatoWebHeavy';
}
.txt-green {
	color: #5eaa2e;
}
.re-load {
	background: #6ebe3b url(../images/ico_reload.png) right 20px center no-repeat;
	padding: 9px 55px 7px 25px;
}
.reload-btn {
	float: right;
}
.friend-list {
	padding: 0 25px 20px;
	box-sizing: border-box;
}
.spyt-list > li {
	background: #fff;
	border: #ccc 1px solid;
	margin-bottom: 10px;
	padding: 10px 0 0 50px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.spyt-list > li:before {
	position: absolute;
	width: 16px;
	height: 16px;
	border: #77c247 2px solid;
	content: '';
	border-radius: 50%;
	left: 15px;
	top: 50%;
	margin-top: -10px;
}
.spyt-list > li:hover {
	box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #d9d9d9, -3px 3px 5px #d9d9d9, 3px -3px 5px #d9d9d9;
}
.spyt-list > li > ul {
	display: table;
	width: 100%;
}
.spyt-list > li > ul > li {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
	box-sizing: border-box;
}
.spyt-list > li > ul > li:nth-child(1) {
	width: 85px;
}
.spyt-list > li > ul > li:nth-child(2) {
	width: 255px;
	font-family: 'LatoWebHeavy';
}
.spyt-list > li > ul > li:nth-child(3) {
	width: 195px;
}
.spyt-list > li > ul > li:nth-child(4) {
	width: 150px;
	font-family: 'LatoWebHeavy';
}
.spyt-list > li > ul > li:nth-child(5) {
	width: 35px;
}
.spyt-list > li > ul > li:nth-child(1) img {
	max-height: 73px;
	max-width: 68px;
}
.dataTables_length {
	margin-bottom: 10px;
}
.dataTables_length label, .dataTables_filter label, .dataTables_info {
	font-size: 16px;
}
.dataTables_length select, .dataTables_filter input {
	height: 30px;
    padding: 2px 5px;
	margin: 0 5px;
	font-size: 12px;
	vertical-align: middle;
	width: 70px;
}
.dataTables_filter input {
	width: 300px;
	margin-bottom: 10px;
}
.pagination {
	margin-top: 10px;
}
.pagination li {
	padding: 0!important;
	border: none!important;
}
.pagination li a {
	display: block;
	padding: 7px 15px 5px;
	background: #6ebe3b;
	color: #fff;
	border: #6ebe3b 1px solid;
	text-decoration: none;
	outline: none;
}
.pagination li a:hover, .pagination li.active a {
	background: #fff;
	color: #6ebe3b;
}







